div{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 70px;
    transition: background 3s;
    text-align: center;
    align-items: center;
}

p{
    text-align: center;
    margin-top: 40px;
    align-items: center;
}
div:hover{
    background: blue;
}