a:link{
   color: red;
}

a:visited{
    color: green;
}
a:hover{
    color: brown;
}
a:active{
    color: blue;
}

ul{
    list-style-type: none; /*square,circle,disc pseudo-classa */
    padding: 0px;
    border: 2px solid grey;   
}

 ul li{
    padding: 8px 16px;
    border-bottom: 1px solid black;
 }
 ol{
    list-style-type: upper-roman; /*upper-roman, lower-latin*/
      background-color: #7fffd4;
    padding: 15px;
 }

 ol li{
    background-color: #7fffd4;
    padding: 10px;
    margin-left: 30px;
 }
 
 /* td,th{ 
    border: 1px solid #eee;
    padding: 15px;
 }

table{
    border-collapse: collapse;
}
 
tbody tr:nth-child(odd) {
 
    background-color: blue;
}
tbody tr:nth-child(even) {
    background-color: red;
*/
div{
    overflow: scroll;
    background-color: aquamarine;
    width: 100px;
    height: 200px;
}
table{
    border-collapse: collapse;
    width: 100%;

}
tr, td {
    border: 2px solid black;
    text-align: center;
}
 

