article p{
    background-color: blue;
    color: white;
    padding:20px

/*child combinator*/
}
article > p{
    background-color: aqua;
}

article ~ p{
    background-color: green;
    color: white;
    padding:20px
}
article + p{
    background-color: orange;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border: 2px solid green;
}
input:in-range {
    border:2px solid green;
}
input:out-of-range{
    border: 2px solid red;
}